<script src="{{ url_for('static', filename='js/script.js') }}" type="module"></script>
{% if request.blueprint %}
    <script src="{{ url_for(request.blueprint+'.static', filename='js/script.js') }}" type="module"></script>
{% endif %}

<!-- Datatables + jquery -->

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.0/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.0/js/dataTables.bootstrap5.js"></script>