{% extends "base.html" %}
{% block body_block %}
    <div container>
        {% if current_user.is_authenticated %} 
            Hello {{ current_user.username }}
        {% else %}<h3>Hello</h3>
            <p>Please login</p> 
        {%endif%}
        <div class="row d-flex">
            <table id="data" class="table table-striped display" style="width:100%" >
                <thead>
                <tr>
                    <th></th>
                    <th>Serveur</th>
                    <th>repo</th>
                    <th></th>
                    <th>date dernière archive</th>
                    <th></th>
                </tr>
                </thead> 
                
            </table>
        </div>
    </div>
    <script>
    $(document).ready(function () {
        let t = $('#data').DataTable({
            paging: true,
            info: true,
            ajax: 'repos_list',
            serverSide: true,
            createdRow: function(row, data, dataindex) {
                console.log(data)
                console.log(row)
                let row_color="bg-success"
                if (data['result'] == false){ row_color="bg-warning" }
                $(row).addClass(row_color)
            },
            columns:[
                {data: 'id', orderable: false,
                render: function (data, type, row, meta) {
                    return meta.row + meta.settings._iDisplayStart + 1;}
                },
                {data: 'server_name',orderable: true, searchable: true },
                {data: 'repo_name', orderable: true },
                {data: 'result', searchable: false, visible: false},
                {data: 'repo_last_archive', orderable: false,
                render: function (repo_last_archive,type,row){
                    let color = 'red'
                    if (row['result'] == true) { color = 'black' }
                    return '<span style="color:' + color + '">' + repo_last_archive + '</span>';
                }},
                {data: 'id',  orderable: false,
                render: function(id){
                    return '<a href="/backups/bckp_detail/'+id+'"><img data-bs-toggle="tooltip" data-bs-placement="left" \
                        title="Repo detail" style="width: 20px;" src="/static/images/pencil.svg" /></a>'

                }},
            ]
        });
    });
  </script>
{% endblock body_block %}